{% extends 'mainPage/base.html' %}
{% load static %}

    <!-- GLOBAL MESSAGES area -->

    <!-- END GLOBAL MESSAGES area -->
{% block content %}




    <title>Доставка из «Эки Дос» в городе Ош от Osh Food</title>

    <main class="single-cafe">
      <section class="cafe-card">
        <div class="card-prev">
          <div
            class="card--background"
            style="
              background: linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0.9),
                  rgba(0, 0, 0, 0.1)
                ),
                url(/image_by_id/17790), no-repeat center, #10a497;
              background-size: cover;
            "
          ></div>
          <div class="card-prev--wrap">
            <div class="prev--thumb" style="background-color: #0d2429">
              <img src="{% static  '/images/6551.jpg'%}" alt="" />
            </div>
            <div class="prev--information">
              <div class="cafe-item--title">
                <h1
                  class="cafe--name"
                  style="margin: 0 11px 0 0; font-weight: normal"
                >
                  Эки Дос
                </h1>
                <div class="cafe-card--statuses">
                  <div class="cafe--ratings">
                    <div
                      class="raiting-container rating-result one-star-rating one-star-rating__2"
                    >
                      <label
                        for="rating_5_871560955"
                        class="hover-area hover-area__5"
                      ></label>
                      <input
                        id="rating_5_871560955"
                        class="hide rating-input rating_5"
                        type="radio"
                        name="rating"
                        value="5"
                      />
                      <label
                        for="rating_4_871560955"
                        class="hover-area hover-area__4"
                      ></label>
                      <input
                        id="rating_4_871560955"
                        class="hide rating-input rating_4"
                        type="radio"
                        name="rating"
                        value="4"
                      />
                      <label
                        for="rating_3_871560955"
                        class="hover-area hover-area__3"
                      ></label>
                      <input
                        id="rating_3_871560955"
                        class="hide rating-input rating_3"
                        type="radio"
                        name="rating"
                        value="3"
                      />
                      <label
                        for="rating_2_871560955"
                        class="hover-area hover-area__2"
                      ></label>
                      <input
                        id="rating_2_871560955"
                        class="hide rating-input rating_2"
                        type="radio"
                        name="rating"
                        value="2"
                      />
                      <label
                        for="rating_1_871560955"
                        class="hover-area hover-area__1"
                      ></label>
                      <input
                        id="rating_1_871560955"
                        class="hide rating-input rating_1"
                        type="radio"
                        name="rating"
                        value="1"
                      />
                      <div class="stars-container"></div>
                      <div class="rating-value rating-value__0">0</div>
                      <div class="rating-value rating-value__1">1</div>
                      <div class="rating-value rating-value__2">2</div>
                      <div class="rating-value rating-value__3">3</div>
                      <div class="rating-value rating-value__4">4</div>
                      <div class="rating-value rating-value__5">5</div>
                    </div>
                    5.0
                  </div>
                </div>
              </div>
              <div class="categories">
                <div class="original-tag-list">
                  <a class="tag-list__tag" href="/cafe/fast-food?language=ru">
                    Fast Food
                  </a>
                  <a class="tag-list__tag" href="/cafe/pizza?language=ru">
                    Пицца
                  </a>
                  <a class="tag-list__tag" href="/cafe/desserts?language=ru">
                    Десерты
                  </a>
                </div>

                <div class="tag-list"></div>
              </div>
              <div class="information">
                <div class="information--item">
                  <div class="information--item--title">Средний чек:</div>
                  <div class="information--item--description">250 сом</div>
                </div>
                <div class="information--item">
                  <div class="information--item--title">Доставка:</div>
                  <div class="information--item--description">
                    150 сом
                    <a href="/delivery.html?language=ru" class="delivery">?</a>
                  </div>
                </div>
                <div class="information--item">
                  <div class="information--item--title">Время работы:</div>
                  <div class="information--item--description">
                    09:00 - 04:00
                    <i class="work-time"> Без выходных </i>
                  </div>
                </div>

                <div class="information--item rating-information--item">
                  <div class="information--item--title">Рейтинг:</div>
                  <div class="information--item--description">
                    <div
                      class="raiting-container rating-result one-star-rating one-star-rating__2"
                    >
                      <label
                        for="rating_5_190077850"
                        class="hover-area hover-area__5"
                      ></label>
                      <input
                        id="rating_5_190077850"
                        class="hide rating-input rating_5"
                        type="radio"
                        name="rating"
                        value="5"
                      />
                      <label
                        for="rating_4_190077850"
                        class="hover-area hover-area__4"
                      ></label>
                      <input
                        id="rating_4_190077850"
                        class="hide rating-input rating_4"
                        type="radio"
                        name="rating"
                        value="4"
                      />
                      <label
                        for="rating_3_190077850"
                        class="hover-area hover-area__3"
                      ></label>
                      <input
                        id="rating_3_190077850"
                        class="hide rating-input rating_3"
                        type="radio"
                        name="rating"
                        value="3"
                      />
                      <label
                        for="rating_2_190077850"
                        class="hover-area hover-area__2"
                      ></label>
                      <input
                        id="rating_2_190077850"
                        class="hide rating-input rating_2"
                        type="radio"
                        name="rating"
                        value="2"
                      />
                      <label
                        for="rating_1_190077850"
                        class="hover-area hover-area__1"
                      ></label>
                      <input
                        id="rating_1_190077850"
                        class="hide rating-input rating_1"
                        type="radio"
                        name="rating"
                        value="1"
                      />
                      <div class="stars-container"></div>
                      <div class="rating-value rating-value__0">0</div>
                      <div class="rating-value rating-value__1">1</div>
                      <div class="rating-value rating-value__2">2</div>
                      <div class="rating-value rating-value__3">3</div>
                      <div class="rating-value rating-value__4">4</div>
                      <div class="rating-value rating-value__5">5</div>
                    </div>
                    5.0
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-information">
          <div class="card-information--item">
            <img
              class="card-information--item_icon"
              src="{% static 'images/icon-photo.png' %}"
              alt=""
            />
            <div class="card-information--item_text">
              <div class="card-information--item_title"><td>Фото</td></div>
              <div class="card-information--item_description">
                <td>
                  Фотографии блюд могут не соответствовать виду их в
                  действительности.
                </td>
              </div>
            </div>
          </div>
          <div class="card-information--item">
            <img
              class="card-information--item_icon"
              src="{% static '/images/icon-truck.png' %}"
              alt=""
            />
            <div class="card-information--item_text">
              <div class="card-information--item_title"><td>Доставка</td></div>
              <div class="card-information--item_description">
                <td colspan="2">
                  Стоимость доставки до 3км - 150сом до 5км -180сом<br />далее
                  за 1км доплата 25с. Доставка может занимать более 1го часа.
                </td>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="switchers" id="tabs">
        <ul class="switchers--wrap">
          <li>
            <a href="#tabs-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
              >
                <path
                  id="menu-icn"
                  d="M12.978.994a1 1 0 0 1 1 1v12.006a1 1 0 0 1-1 1h-9.983a1 1 0 0 1-1-1v-12a1 1 0 0 1 1-1h9.983m0-1h-9.983a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h9.983a2 2 0 0 0 2-2v-12a2 2 0 0 0-2-2zm-4.993 3a3 3 0 1 1-2.994 3 3 3 0 0 1 2.994-3m0-1a4 4 0 1 0 3.994 4 4 4 0 0 0-3.994-4zm3.994 10h-7.986v-1h7.986v1zm-2 2h-3.989v-1h3.993v1z"
                />
              </svg>
              Меню
            </a>
          </li>
          <li id="information-tab">
            <a href="#tabs-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
              >
                <path
                  id="info-icn"
                  d="M38.979.974a7.1 7.1 0 0 1 7.021 7.026 7 7 0 0 1-14 0 7.067 7.067 0 0 1 6.979-7.026m0-.98a8.051 8.051 0 0 0-7.979 8.006 8 8 0 0 0 16 0 8.085 8.085 0 0 0-8.02-8zm1.021 7.006h-2v5h2v-5zm1 4h-4v1h4v-1zm-1-7h-2v2h2v-2z"
                  transform="translate(-31)"
                />
              </svg>
              Информация
            </a>
          </li>
          <li>
            <a href="{% url 'mainPage:chat' %}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
              >
                <path
                  id="review-icn"
                  d="M8 1.995c3.794 0 7 2.061 7 4.5 0 1.6-1.845 3.193-2.554 3.67l-.587.39.171.684.47 1.889-4.054-2.028-.212-.1h-.234c-3.6 0-7-2.188-7-4.5 0-2.437 3.205-4.5 7-4.5m0-1c-4.419 0-8 2.464-8 5.5s4 5.5 8 5.5l6 3-1-4s3-2 3-4.5c0-3.035-3.581-5.5-8-5.5z"
                />
              </svg>
              Отзывы ({{comment_count}})
            </a>
          </li>
        </ul>
        <div class="tab-content--menu" id="tabs-1">
          <div class="menu--filter">
            <div
              class="filter-slider--owl owl-carousel slider--load"
              id="filter--init"
            >
              <a
                href="#"
                data-tag="0"
                class="filter--item active--filter first--item tag-0"
              >
                Все блюда:
              </a>
              {% for category in fastfoodCategory %}

              <a
                href="#{{category.anchor}}"
                class="filter--item tag-{{category.id}}"
                data-tag="{{category.id}}"
              >
                {{category.name}}
              </a>
           
              {% endfor %}
            </div>
          </div>

          {% for category in fastfoodCategory %}
          <span
            style="overflow: hidden"
            class="section--container"
            data-tag="{{ category.id }}"
            id="{{ category.anchor }}"
          >
            <h2 class="title" style="font-weight: normal">
              {{ category.name }}
            </h2>




            <div class="card--wrap">
        {% for dish in category.dish_set.all %}
          <form method="POST" action="/cart/add/" id="form-dish-{{ dish.id }}">
            {% csrf_token %}
            <input type="hidden" name="dish_id" value="{{ dish.id }}">
            <div class="card--item" id="dish-{{ dish.id }}">
              <div class="card--item-info">
                <div class="card--item--prev">
                  <img src="{{ dish.image.url }}" width="300px" height="200px" alt="" />
                </div>
                <div class="card--item--title">{{ dish.name }}</div>
                <div class="card--item--description"></div>
              </div>
              <div class="card--item-action">
                <div class="price">{{ dish.price }}<i> с</i></div>
                <div class="count"></div>
                <button type="submit" class="btn-sub">
                  Заказать
                </button>
              </div>
            </div>
          </form>
        {% endfor %}


              <div class="card--item close--item"></div>
              <div class="card--item close--item"></div>
              <div class="card--item close--item"></div>
            </div>
          </span>
          {% endfor %}



        </div>



        <h1>Доп данные</h1>
        <b><p>Город: {{city}}</p></b>
        <b><p>Точное время: {{current_time}}</p></b>
        <b><p>Температура в градусах: {{curr_weather}}°C</p></b>


      </section>
    </main>

    <div class="mfp-hide edit-person--modal modal" id="ajax--error--modal">
      <div class="modal--content--wrap">
        <div class="title">Ошибка соединения</div>
        <div class="description">
          Во время запроса произошла ошибка. Возможно, причина этого - в
          соединении с интернетом. Обновите страницу и попробуйте заново.
        </div>
        <form action="">
          <div class="order--actions">
            <button
              class="order--btn order--access"
              id="alert-accept"
              type="button"
            >
              Принять
            </button>
            <button
              class="order--btn order--cancel"
              id="alert-cancel"
              type="button"
            >
              Отменить
            </button>
          </div>
        </form>
      </div>
    </div>

    <!--FOOTER block -->
        <style>
  .btn-sub {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #4CAF50; /* Цвет границы кнопки */
    border-radius: 5px; /* Скругление углов */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Анимация при изменении свойств */
  }

  /* Дополнительные стили при наведении */
  .btn-sub:hover {
    background-color: #45a049; /* Изменение цвета фона при наведении */
    color: #fff; /* Изменение цвета текста при наведении */
    border-color: #45a049; /* Изменение цвета границы при наведении */
  }

  /* Дополнительные стили при нажатии */
  .btn-sub:active {
    background-color: #3e8e41; /* Изменение цвета фона при нажатии */
    border-color: #3e8e41; /* Изменение цвета границы при нажатии */
  }
    </style>




{% endblock %}